.menu-list {
    margin: auto;
}

.menu-item-table td {
    vertical-align: top;
}

.menu-item-name {
    width: 40%;
}

.menu-item-size {
    width: 40%;
}

.menu-item-price {
    width: 20%;
    text-align: right;
}
