.menu-item-table td {
    vertical-align: top;
}

.menu-item-code {
    width: 15%;
}

.menu-item-name {
    width: 65%;
}

.menu-item-price {
    width: 20%;
    text-align: right;
}

.menu-item-code {
    min-width: 50px;
    max-width: 50px;
}
