:root {
    --primary-red: #ad0b02;
    --primary-red-dark: #b41b32;
    --primary-red-darker: #9a0118;
    --primary-black: black;
    --accent-white: #faf3f3;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Kaushan Script', cursive;
}

body,
span,
p,
div {
    font-family: 'Nunito', sans-serif;
}

body {
    padding-top: 70px;
}
