.carousel-item img {
    max-height: 500px;
    width: auto;
}

.lufong-btn {
    display: inline-block;
    padding: 10px;
    background-color: var(--primary-red);
    color: white;
    border-radius: 6px;
}

.lufong-btn:hover {
    text-decoration: none;
    color: white;
    background-color: var(--primary-red-darker);
}
