.menu-header {
    /* background-color: var(--primary-red-dark); */
    padding: 20px 0;
}

.menu-header h1 {
    text-transform: uppercase;
    font-size: 3em;
    color: var(--primary-red-darker);
}

.header-line {
    border-top: 3px solid var(--accent-red);
}

.menu-list {
    margin: auto;
}

@media (min-width: 992px) {
    .menu-header h1 {
        font-size: 4em;
    }
}

@media (min-width: 1200px) {
}
